<div bgcolor="#ededed">
    <!-- HEADER -->
    <div style="background-color: #ededed !important;">
        <table class="head-wrap" style="width: 100%;">
            <tr>
                <td></td>
                <td class="header container" style="display: block !important; max-width: 660px !important; margin: 0 auto !important; padding-top: 30px; padding-bottom: 17px; clear: both !important;">

                    <div class="content">
                        <table>
                            <tr>
                                <td><img src="{{ base_url }}/themes/custom/beltrame/images/logo-mail.png" /></td>
                            </tr>
                        </table>
                    </div>

                </td>
                <td></td>
            </tr>
        </table><!-- /HEADER -->


        <!-- BODY -->
        <table class="body-wrap" style="width: 100%;">
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF" style="display: block !important; max-width: 660px !important;  min-height: 430px; margin: 0 auto !important; clear: both !important; background-color: #ffffff !important;">

                    <div class="content" style="max-width: 515px; margin: 0 auto; padding: 62px 15px;">
                        <table>
                            <tr>
                                <td>
                                    <h3 style="margin-bottom: 8px; font-size: 18px; font-family: Tahoma, sans-serif; color: #6a6f72">{{ 'Thanks for contacting us!'|t }}</h3>
                                    <p class="lead" style="margin-top: 8px; font-size: 18px; line-height: 1.8; font-family: Tahoma, sans-serif; color: #6a6f72">{{ body }}</p>
                                </td>
                            </tr>
                        </table>
                    </div><!-- /content -->

                </td>
                <td></td>
            </tr>
        </table><!-- /BODY -->

        <!-- FOOTER -->
        <table class="footer-wrap" style="width: 100%;">
            <tr>
                <td></td>
                <td class="container" style="display: block !important; max-width: 660px !important; margin: 0 auto !important; padding-top: 14px; clear: both !important;">

                    <!-- content -->
                    <div class="content">
                        <table>
                            <tr>
                                <td>
                                    <p style="font-family: Tahoma, sans-serif; font-size: 12px; line-height: 1.7; color: #908e88;">
                                        Beltrame Luciano S.r.l. </br>
                                        via San Marco, 56 Sant’Angelo di Piove di Sacco 35020 Padova T. +39 049 58 46 075 E. <a href="mailto:info@beltrameluciano.com" style="color: #908e88; text-decoration: none;">info@beltrameluciano.com</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div><!-- /content -->

                </td>
                <td></td>
            </tr>
        </table><!-- /FOOTER -->
    </div>

</div>
